@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* স্ক্রিনের নিচের কর্নারের যেকোনো ডেভলপমেন্ট লোগো বা ব্যাজ হাইড করার জন্য */
div[id*="sanity"], 
div[class*="sanity"],
.sanity-studio-badge,
#__next-to-html-badge {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}


body:has(#sanity) {
  background-color: #fff !important;
  color: #000 !important;
  display: block !important;
  min-height: 100vh !important;
}

#sanity {
  display: block !important;
  min-height: 100vh !important;
  background-color: #fff !important;
}
